

.error-label{
  color: red;
  display: inline;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}

.user{
  float:right;
  /* display: inline-block; */
  vertical-align: top;

  margin-top: -1760px;
  margin-right: 10px;
  width: 250px;
  height: 320px;
}

.tournament-card{
  background-color: rgba(255, 255, 255, 0.041);
  border:white;
  box-shadow: 1px 1px 7px 2px rgb(249, 249, 250)
}

.tournament-card:hover{
  transform: scale(1.05);
  border:white;
  box-shadow: 1px 1px 7px 2px rgb(249, 249, 250)
}

.profilecard{
  background-color: rgba(156, 153, 153, 0.281);
  border:white;
  box-shadow: 1px 1px 7px 2px rgb(249, 249, 250)
}

.line{
  color:white;
  box-shadow: 1px 1px 5px 1px  white;
}
.line2{
  color:blue;
  box-shadow: 1px 1px 5px 1px  white;
}

textarea{
  height: 160px;
}

